<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/Style.css">
    <!-- <link rel="stylesheet" href="CSS/responsive.css"> -->
    <link rel="shortcut icon" href="Images/favicon.webp" type="image/x-icon">
    <script type="module" src="Scripts/main.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <header>
        <section class="logo-container">
            <div class="logo-image">
                <img class="logo" src="Images/logo.webp" alt="PureMath" loading="lazy">
            </div>            
        </section>
    </header>
    <main>
        <section class="container-1">
            <div class="main-block">
                <div class="block-title">
                    <h1><%= getType.division[0].name %></h1>
                </div>
                <div class="value-entry">
                    <form>
                        <p>Quanto você quer calcular?</p>
                        <input class="value" type="text" placeholder="valor em <%= getType.division[0].name.split(" ")[0] %>">
                    </form>
                </div>
                <div class="calculation-button">
                    <input class="division <%= getType.division[0].value %>" type="button" value="Calcular">
                </div>
                <div class="calculation">
                    <div class="description">
                        <p><span class="applied-value">0</span> metros é igual a:</p>
                    </div>
                    <div class="result">
                        <p><span class="converted-value">0</span> Km</p>
                    </div>
                </div>
            </div>            
        </section>
        <section class="container-2">
            <div class="title-container-2">
                <div class="title">
                    <h1>Você pode gostar:</h1>
                </div>
            </div>
            <div class="recommended-calculations">
                <div class="second-block">
                    <% for (let i=0; i < getType.multiplication.length; i++){ %>
                        <div class="<%= getType.multiplication[i].class %>">
                            <div class="block-title">
                                <h1><%= getType.multiplication[i].name %></h1>
                            </div>
                            <div class="value-entry">
                                <form>
                                    <p>Quanto você quer calcular?</p>
                                    <input type="text" class="value" placeholder="valor em <%= getType.multiplication[i].name.split(" ")[0] %>">
                                </form>
                            </div>
                            <div class="calculation-button">
                                <input class="multiplication <%= getType.multiplication[i].value %>" type="button" value="calcular">
                            </div>
                            <div class="calculation">
                                <div class="description">
                                    <p><span class="applied-value">0</span> <%= getType.multiplication[i].name.split(" ")[0] %> é igual a:</p>
                                </div>
                                <div class="result">
                                    <p><span class="converted-value">0</span> <%= getType.multiplication[i].name.split(" ")[2] %></p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>           
        </section>
    </main>
    <footer class="footer-container">
        <section class="social-networks-container">
            <div class="call-me">
                <p>Fale comigo:</p>
            </div>
            <div class="social-icons">
                <div class="instagram">
                    <a href="https://www.instagram.com/j.sampaiof2/"><img src="Images/Instagram icon.webp" alt="Instagram"></a>
                </div>
                <div class="facebook">
                    <a href="https://www.facebook.com/josthersampaiofontes/"><img src="Images/facebook icon.webp" alt=""></a>
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/j_sampaiof"><img src="images/twitter icon.webp" alt=""></a>
                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/josther-sampaio/"><img src="images/LinkedIn icon.webp" alt=""></a>
                </div>
                <div class="github">
                    <a href="https://github.com/jsampaiof"><img src="images/github icon.webp" alt=""></a>
                </div>
                <div class="whatsapp">
                    <a href="https://api.whatsapp.com/send/?phone=%2B5574999846773"><img src="images/WhatsApp icon.webp" alt=""></a>
                </div>
            </div>
        </section>
        <section class="description-container">
            <div class="description">
                <p>Project developed by:</p>
            </div>
            <div class="signature">
                <p>Josther Sampaio Fontes</p>
            </div>
            <div class="copyright">
                <p>All Contents Copyright 2022 PureMath. All Rights Reserved</p>
            </div>
        </section>
    </footer>
</body>
</html>